
<div class="row">
    <label>Sales</label>
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well bs-component">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        Invoice No/চালান নং:
                                    </label>
                                    <div class="col-md-2">
                                        <input type="text" value="001" readonly id="txtPoNo" name="txtPoNo" class="form-control" />
                                    </div>
                                    <label class="col-md-1 col-md-offset-2 control-label">
                                        Customer/ক্রেতা:
                                    </label>
                                    <div class="col-md-4">
                                        <select class="form-control" id="ddlCustomer" name="ddlCustomer" onchange="GetCustomerId()"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        Notes/মন্তব্য:
                                    </label>
                                    <div class="col-md-3">
                                        <input type="text" id="txtDescriptions" name="txtDescriptions" class="form-control" />
                                    </div>
                                    <label class="col-md-2 control-label">
                                        Date:
                                    </label>
                                    <div class="col-md-3">
                                        @*<input type="text" id="txtDate" name="txtDate" class="form-control" />*@
                                        <input type="date" id="txtDate" name="txtDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="text-center"> 
                                        <button class="btn btn-primary" id="btnAddFromOrders" type="button" data-toggle="modal" data-target="#myModal">Add Sell From Orders</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <br /><br />
                    <div>                        
                        <div class="ibox-content" id="divInfo">

                            <div class="form-group">
                                <div class="col-md-12 table-responsive" id="div-inventoryGroup">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <h4>Added Sales Items</h4>
                                <div class="col-md-12 table-responsive" id="div-sales-add">
                                </div>
                            </div>

                        </div>
                    </div>                                      
                    <div class="col-lg-4 col-lg-offset-1">
                        <form class="bs-component">
                            
                                <script id="templateInventoryGroupModal" type="text/html">
                                    <table class="table table-bordered table-striped table-hover" id="inventoryGroupTableModal">
                                        <thead>
                                        <th>আইডি</th>
                                        <th>আইডি</th>
                                        <th>আইটেম</th>
                                        <th>Bale in Qty</th>
                                        <th>বস্তা আছে</th>
                                        <th>বস্তা</th>
                                        <th>বস্তা/কেজি</th>
                                        <th>দাম/বস্তা</th>
                                        <th>Action</th>
                                        </thead>
                                        <tbody>
                                        {{#InventoryGroupSearch}}
                                        <tr>
                                            <td>{{Id}}</td>
                                            <td>{{Product.Id}}</td>
                                            <td> {{Product.ProductName}}</td>
                                            <td> {{QtyInBale}}</td>
                                            <td> {{BalanceQty}}</td>
                                            <td width="10px">
                                                <input type="text" name="txtSalesQty" id="txtSalesQty" class="datatable-textbox-style" />
                                            </td>
                                            <td width="10px">
                                                <input type="text" name="txtBaleWeight" id="txtBaleWeight" class="datatable-textbox-style" />
                                            </td>
                                            <td width="10px">
                                                <input type="text" name="txtRate" id="txtRate" class="datatable-textbox-style"  />
                                            </td>
                                                <td class="action-sm">
                                                    <a class="datatable-submit-button" id="btnAdd" onclick="LoadForAdd('{{Id}}')"><i class="fa fa-edit"></i>Add</a>

                                                </td>
                                            </tr>

                                            {{/InventoryGroupSearch}}
                                        </tbody>
                                    </table>
                                </script>                         


                        </form>
                    </div>
                    <div class="form-actions">
                            <div class="col-md-12">
                                <button class="btn btn-w-m btn-info" data-style="expand-left" id="btnSave" type="button" onclick="Save()"><i class="fa fa-save"></i>&nbsp; Save</button>
                                <button class="btn btn-w-m btn-success" type="button" id="btnReset" onclick="ResetForm()"><i class="fa fa-refresh"></i>&nbsp;Reset</button>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sale Orders</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="ibox-content" id="divInfo2">
                        <br/><br/>
                        <div class="form-group">
                            <div class="col-md-12 table-responsive" id="div-salesOrderGroup">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div class="col-lg-4 col-lg-offset-1">
    <form class="bs-component">

        <script id="templateSalesOrderGroupModal" type="text/html">
            <table class="table table-bordered table-striped table-hover" id="salesOrderGroupTableModal">
                <thead>
                <th>আইডি</th>
                <th>আইটেম আইডি</th>
                <th>SalesOrderId</th>
                <th>আইটেম</th>
                <th>বস্তা(অর্ডার)</th>
                <th>কেজি/বস্তা</th>
                <th>দাম/বস্তা</th>
                <th>বস্তা(বিক্রয়)</th>
                <th>Action</th>
                </thead>
                <tbody>
                {{#SalesOrderGroupSearch}}
                <tr>
                    <td width="5px;">{{Id}}</td>
                    <td> {{ProductId}}</td>
                    <td width="10px;"> {{SalesOrderId}}</td>
                    <td> {{Product.ProductName}}</td>
                    <td width="10px;"> {{BaleQty}}</td>
                    <td width="10px;"> {{BaleWeight}}</td>
                    <td width="10px;">
                        <input type="text" name="txtRateOrder" id="txtRateOrder" class="datatable-textbox-style" />
                    </td>
                    <td width="10px;">
                        <input type="text" name="txtDeliveryQty" id="txtDeliveryQty" class="datatable-textbox-style" />
                    </td>
                        <td width="10px">
                            <a class="datatable-submit-button" id="btnAddOrder" onclick="LoadForAddOrder('{{Id}}')"><i class="fa fa-edit"></i> Add</a>

                        </td>
                    </tr>

                    {{/SalesOrderGroupSearch}}
                </tbody>
            </table>
        </script>
    </form>
</div>

<script id="templateSalesGroupModalGrid" type="text/html">
    <table class="table table-bordered table-striped table-hover" id="salesGroupTableModalGrid">
        <thead>
        <th> </th>
        <th>আইডি</th>
        <th>আইটেম</th>
        <th>বস্তা</th>
        <th>বস্তা/কেজি</th>
        <th>কেজি</th>
        <th>দাম/বস্তা</th>
        <th>মোট দাম</th>
        <th>অর্ডার আইডি</th>
        <th>Action</th>
        </thead>
        <tbody>
        {{#SalesGroupSearchGrid}}
        <tr>
            <td>{{countCount}}</td>
            <td>{{Id}}</td>
            <td>{{ProductName}}</td>
            <td>{{BaleQty}}</td>
            <td>{{BaleWeight}}</td>
            <td>{{TotalQtyInKG}}</td>
            <td>{{Rate}}</td>
            <td>{{Amount}}</td>
            <td>{{SalesOrderId}}</td>
            <td class="action-sm">
                <a class="btn btn-danger" onclick="OnDeleteSalesOrder('{{countCount}}')"><i class="fa fa-trash-o"></i></a>

            </td>
        </tr>

        {{/SalesGroupSearchGrid}}
        </tbody>
    </table>
</script>

<script>
     function calculateRow(row) {
         var price = +row.find('input[name^="price"]').val();
     }

     function calculateGrandTotal() {
         var grandTotal = 0;
         $("table.order-list").find('input[name^="price"]').each(function () {
             grandTotal += +$(this).val();
         });
         $("#grandtotal").text(grandTotal.toFixed(2));
     }
</script>
<script src="~/Scripts/app/CommonLoader.js"></script>
<script src="~/Scripts/app/Sales.js"></script>