@model POS_MVC.Models.loc_country

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>loc_country</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.country_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.country_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
